services:
	moduleManager:
		setup:
			- addModule(Crm\WordpressModule\WordpressModule())

	- Crm\WordpressModule\Model\ApiClient

	# API Authorization
	userTokenAuthorization:
		class: Crm\UsersModule\Auth\UserTokenAuthorization
		setup:
			- registerAuthorizator('wordpress', Crm\WordpressModule\Authorization\WordpressUserTokenAuthorization())
